.docs-container {
  display: flex;

  .left-nav {
    min-width: 120px;
    margin: 0 8px;

    ul {
      padding: 0;
      list-style-type: none;

      li {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 0;
        cursor: pointer;
        color: var(--color-heading);
        margin-top: 8px;

        &:hover {
          background-color: var(--color-nav-hover);
        }
      }

      .first {
        margin-top: 0;
      }

      .active {
        background-color: var(--color-nav-hover);
      }
    }
  }

  .navigation {
    background-color: var(--color-nav);
    overflow-y: auto;
    height: calc(100vh - 58px);
    width: 25%;
    white-space: nowrap;
    border-radius: 20px;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-background-oposite-mute);
      border-radius: 10px;
    }

    .nav-header {
      display: flex;
      justify-content: space-between;
      padding: 10px 14px 10px 10px;
      border-bottom: 0.5px solid var(--color-background-oposite-mute);

      .header-title {
        display: flex;
        align-items: center;
        padding-left: 8px;
        font-size: 1.2rem;
      }

      .icon-bg {
        background-color: var(--color-nav-hover);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:hover {
          background-color: var(--color-background);
        }

        .collapse {
          height: 20px;
          transform: rotate(90deg);
        }
      }
    }

    .nav {
      border-bottom: 1px solid var(--color-background);
      color: var(--color-heading);

      .arrow {
        font-size: 1.2em;
        transition: transform 0.3s;
        margin-right: 10px;
        transform: rotate(270deg);

        .small {
          width: 16px;
          height: 16px;
        }
      }

      .arrow-expanded {
        transform: rotate(360deg);
      }

      .title {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;

        &:hover {
          background-color: var(--color-nav-hover);
        }
      }

      .items {
        padding: 0;
        list-style-type: none;

        .item {
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 10px;
          padding: 10px 0 10px 36px;
          &:hover {
            background-color: var(--color-nav-sub-hover);
          }
        }

        .sub-item {
          padding: 0;
          cursor: pointer;
          ul,
          li {
            list-style-type: none;
            padding: 10px 0 10px 62px;
            margin: 0;
            display: flex;
            align-items: center;

            .add-icon {
              margin-right: 10px;
            }

            &:hover {
              background-color: var(--color-nav-sub-sub-hover);
            }
          }
        }
      }
    }
  }

  .nav-hide {
    animation: navHide 0.5s forwards;
  }

  .nav-show {
    animation: navShow 0.5s forwards;
  }

  @keyframes navHide {
    0% {
      width: 35%;
    }
    100% {
      width: 0%;
    }
  }

  @keyframes navShow {
    0% {
      width: 0%;
    }
    100% {
      width: 35%;
    }
  }

  .content {
    width: 65%;
    display: flex;
    flex-direction: column;

    .nav-hide {
      display: none;
    }

    .nav-show {
      display: flex;
      align-items: center;
      margin: 20px 0;

      .icon-bg {
        background-color: var(--color-background-oposite-mute);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 48px;
        height: 48px;

        .collapse {
          transform: rotate(270deg);
        }
      }

      .nav-collapse-title {
        align-self: center;
        font-size: 1.5rem;
        margin-left: 24px;
      }
    }

    .content-items {
      margin-left: 24px;

      .breadcrumb {
        margin: 20px 0;
        font-size: 16px;
      }

      pre {
        background-color: var(--black-soft);
        padding: 10px;
        margin-top: 10px;
        border-radius: 4px;
        overflow-x: auto;
      }
    }
  }

  .content-full {
    animation: contentHide 0.5s forwards;
  }

  .content-half {
    animation: contentShow 0.5s forwards;
  }

  @keyframes contentHide {
    0% {
      width: 65%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes contentShow {
    0% {
      width: 100%;
    }
    100% {
      width: 65%;
    }
  }
}

.code-snippet {
  background-color: #f8f8f8;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

.code-snippet code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}
