:root {
  --max-width: 1280px;
  --tablet-width: 1024px;
  --mobile-width: 768px;

  // <--- COLORS ---> //
  --primary: #006e95;
  --indigo: #2c3e50;

  --white: #ffffff;
  --white-soft: #e7e3e3;
  --white-mute: #c7bebe;

  --black: #181818;
  --black-soft: #302f2f;
  --black-mute: #525050;

  --gray-dark: #262424;
  --gray: #6c757d;
  --gray-soft: #413d3d;
  --gray-mute: #575050;

  --success: #3a802d;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;

  --text-light-1: rgba(60, 60, 60, 0.44);
  --text-light-2: rgba(60, 60, 60, 0.86);

  --text-dark-1: rgba(235, 235, 235, 0.64);
  --text-dark-2: rgba(235, 235, 235, 0.84);

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);

  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  //left nav dark
  --nav-light-1: rgba(37, 37, 37, 0.94);
  --nav-light-2: rgba(0, 110, 149, 0.2);
  --nav-light-3: rgba(60, 60, 60, 0.384);
  --nav-light-4: rgba(60, 60, 60, 0.19);
  //left nav light
  --nav-light-5: rgba(189, 189, 189, 0.94);
  --nav-light-6: rgba(0, 110, 149, 0.3);
  --nav-light-7: rgba(88, 88, 88, 0.288);
  --nav-light-8: rgba(97, 97, 97, 0.19);
}

:root[data-color-scheme='light'] {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-background-oposite: var(--black);
  --color-background-oposite-soft: var(--black-soft);
  --color-background-oposite-mute: var(--black-mute);

  --color-heading: var(--text-light-2);
  --color-text: var(--text-light-2);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-nav: var(--nav-light-5);
  --color-nav-hover: var(--nav-light-6);
  --color-nav-sub-hover: var(--nav-light-7);
  --color-nav-sub-sub-hover: var(--nav-light-8);
}

:root[data-color-scheme='dark'] {
  --color-background: var(--black);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);

  --color-background-oposite: var(--white);
  --color-background-oposite-soft: var(--white-soft);
  --color-background-oposite-mute: var(--white-mute);

  --color-heading: var(--text-dark-2);
  --color-text: var(--text-dark-2);

  --color-border: var(--divider-dark-2);
  --color-border-hover: var(--divider-dark-1);

  --color-nav: var(--nav-light-1);
  --color-nav-hover: var(--nav-light-2);
  --color-nav-sub-hover: var(--nav-light-3);
  --color-nav-sub-sub-hover: var(--nav-light-4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
